<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="home">Accueil</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="planning">Planning</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="voice-capture">Capture de voix</a>
          </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="home_nav_title">
                Scriptrad
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active">
                <a routerLink="about">A propos</a>
            </li>
        </ul>
    </div>
</nav>
