.carousel_container{
    border: 1px solid rgb(150, 128, 128);
    background-color: rgb(236, 222, 222);
    height: 200px;
}
.carousel_list{
    list-style-type: none;
    height: 100%;
    margin: unset;
    padding: unset;
}
input{
    opacity: 0;   
    position: absolute;
    width: 145px;
    height: 35px;
}
input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}
.carousel_el{
    height: 100%;
    width: 20%;
    margin-right: 20px;
    display: inline-block;
    border: 1px solid;
}
.carousel_el >img {
    height: 100%;
    width: 100%;
}