<div [className]="'root__display'">
  <kendo-scheduler [kendoSchedulerBinding]="editService.events | async"
                   [kendoSchedulerReactiveEditing]="createFormGroup"
                   [editService]="editService"
                   [modelFields]="editService.fields"
                   [loading]="editService.loading"
                   [selectedDate]="selectedDate"
                   style="height: 600px;">
    <kendo-scheduler-day-view>
    </kendo-scheduler-day-view>

    <kendo-scheduler-week-view startTime="07:00">
    </kendo-scheduler-week-view>

    <kendo-scheduler-month-view>
    </kendo-scheduler-month-view>

    <kendo-scheduler-timeline-view>
    </kendo-scheduler-timeline-view>

    <kendo-scheduler-agenda-view>
    </kendo-scheduler-agenda-view>
  </kendo-scheduler>
</div>
