.start-button {
  background-color: #66f513;
}

.stop-button {
  background-color: #df5f38
}

.cancel-button {
  background-color: #4324cf;
}

.save-button {
  background-color: #becc00;
}

.buttons-of-capture-page {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}
